<h1>Chat</h1>

<hr>
<div class="app-mensajes" id="app-mensajes">

  <div class="text-right" *ngFor="let chat of _cs.chats">
    <span class="badge badge-info">Info</span>

    <p>
      {{ chat.mensaje }}
    </p>
  </div>


  <!-- <div>
    <span class="badge badge-success">Info</span>

    <p>
      Ese es un mensajr de chat
    </p>
  </div> -->

  
  

</div>

<input  class="form-control"
        type="text" 
        name="mensaje"
        [(ngModel)]="mensaje"
        (keyup.enter)="enviar_mensaje()"
        placeholder="Enviar mensaje">
